@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    
}

body {
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    
}


::-webkit-scrollbar {
  width: 1rem;
}
 
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #f16c6b);
  border-radius: 1.5rem;
}


::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00BFFF);
  border-radius: 1.5rem;
}


h2 {
     padding-top: 6rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #0044ff;
    padding-bottom: 3rem;
}

p {
  
   font-size: 1.7rem;
   font-weight: 500;
}

span {
    color: #f16c6b;
    font-weight: 900;
    font-size: 5rem;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-bottom:1rem;
    
}

/* navbar */
.navbar {
font-weight: 700;
text-transform: uppercase;
font-size: 2.2rem;
letter-spacing: 1px;
background: rgba(0, 0, 0, 0.6)!important; 

}

 .navbar-brand {
font-family:  sans-serif;
font-size: 2.8rem;
font-weight: 700;
color: #f16c6b!important;
}

.nav-link {
    color: #f16c6b!important;
    
}

.nav-link:hover {
    color: #00BFFF !important;
    
}
.navbar .navbar-collapse {
    text-align: center;
    margin-right: 1.5rem;
}

.navbar-nav li {
    padding-right: .7rem;
   
}

/* Main section */

#main {
    position: relative;
    background: url("../images/header.jpg") fixed;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
}

#heading {
    position: absolute;
    top: 50%;
    left: 50%;    
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .2rem;   
    color: #81D4FA;
    padding: 13px 25px;
    border-radius: 15px;
    background: rgba(33, 33, 33, 0.7);
    transform: translate(-50%, -50%);
    
}
.button {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid #ffff;
    padding: 10px 30px;
    color: #000;
    background-color: #f16c6b;
    font-size: 1.8em; 
    font-weight: 900;
    margin: 5px;
    
}
 

.btn:hover  {
    color: #81D4FA;
}
*/



/* About */
#about {
   
    padding-bottom: 3rem;
    background-color: #edeff1;
}


#selfie {
    border: 2px solid #f16c6b;
    border-radius: 4rem;
    max-width: 100%;
    height: auto;
}

.btn-info {
    margin-top: 3rem;
    width: 30%;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #f16c6b;
} 


/* PORTFOLIO */
#portfolio {
    
    background: #f0f3f5;
}

.tz-gallery {
    padding: 1rem;
    margin-top: 5rem;
}

.tz-gallery img {
    border-radius: 5px;   
    transition: 1s;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 3rem;
    
}

/* Adds a shadow to the image when mouse hovers over*/
.tz-gallery .lightbox img:hover {
	transform: scale(1.2);
    cursor: zoom-in;
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* Contact */

#contact {
    
    padding-bottom: 3rem;
    background-color: #edeff1;   
} 

 #form {
     margin-top: 1rem;
 }

.contact-form {
    max-width: 650px;
    padding: 1rem; 
    margin: auto; 
       
}

.text-input {
  width: 100%; 
  border: 1px solid #f16c6b;
  padding: 2rem;
  font-size: 1.5rem;
} 

.text-input:hover {
border-color: #00BFFF;
}

label {
  font-size: 1.5rem;
  font-weight: 600;  
}

.form-group  select {

  margin-top: 2.7rem;
  font-size: 2rem;
  border: 1px solid #f16c6b;
}

#submit {
  width: 100%;
  margin-top: 20px;
  border-radius: 2px;
  text-align: center;
  background-color: #f16c6b;
  color: #fafafa;
  font-size: 1.5rem;
  font-weight: 700;
}

#submit:hover {
  background-color: #ee9797;
  color: #0044ff;
  font-weight: 600;
}
 


/* Footer */

.social-networks {
    font-size: 2.8rem;
    font-weight: 500;
}

.social-networks li {  
    display: inline;
}

.social-networks i {
    margin: 1.5rem;
    color: #00BFFF;
}

.social-networks i:hover {
    color: #ee9797;
}

.copyright {
    font-weight: 500;
    font-size: 1.5rem;
    color: #f16c6b;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    
    #heading {
        width: 100%;
        font-size: 2.5rem;
    }
.button {
   
}

 #selfie {
 margin-left: 0;

 }

 .btn-info {
     width: 100%;
 }

 .form-group  select {
    font-size: 3rem;
 }
      
}

/* IPad only */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .hero-text {
        top: 60%;
    }

    .form-group  select {
        font-size: 3rem;
        margin-top: 5rem;
    }

    #submit {
     font-size: 3rem;
    }

    .btn-info {
     width: 100%;
    }
         
}

/* IPad landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hero-text {
        top: 60%;
    }
    
    #selfie {
        margin-top: 22rem;
        border-radius: 9.6rem;
    
    }
    

    .btn-info {
        width: 100%;
    }

    .form-group  select {
        font-size: 3rem;
        margin-top: 5rem;
    }

    #submit {
     font-size: 3rem;
    }
}

/* large devices */
@media only screen and (max-width : 1024px) {
    .hero-text {
        font-size: 13rem;
        
    }

    .btn-primary {
        display: inline;
        font-size: 3.5rem;        
        padding: 1.5rem;
        
    }

     p {
        font-size: 2.5rem;
     
    }
    h2 {
        font-size: 5rem;
    }

     #selfie {
        margin-top: 22rem;
        border-radius: 10rem;
    
    }

    .btn-info {
        font-size: 2.5rem;
    }

    .text-input {
       font-size: 3.5rem;

    }

    label {
        font-size: 3rem;
    }

    .form-group  select {
        font-size: 4rem;
        margin-top: 5rem;
    }

    #submit {
     font-size: 3rem;
    }

    .social-networks li a {
        font-size: 5rem;
    }

    .copyright {
    font-size: 3rem;
}
}