body {
    height: 100%;
    width: 100%;
}

/* navbar */
.navbar {
font-weight: 600;
text-transform: uppercase;
font-size: 16px;
letter-spacing: 1px;
background: rgba(0, 0, 0, .6)!important;
}

 .navbar-brand {
font-size: 22px;
font-weight: bold;
letter-spacing: 1px;
}

.navbar-nav li {
    padding-right: .7rem;
}

/* slider */

.carousel-item{
    height: 100%; /*vertical height */
    background: no-repeat center center scroll;
    background-size: cover; 
    
    
}

/* About */
#about {
    padding-top: 70px;
    margin-bottom: 20px;
    
}


/* PORTFOLIO */
#portfolio {
padding-top: 70px;
}

.tz-gallery {
    padding: 10px;
}

.tz-gallery img {
    border-radius: 6px;   
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
}

/* Adds a shadow to the image when mouse hovers over*/
.tz-gallery .lightbox img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* Contact */

#contact {
    padding-top: 70px;
    
}
.contact-form {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
}
form {
    display: block;
    width: 100%;
}



/* Footer */
footer {
   height: 150px;
   text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks li {  /* this will line the links horizontally */
    display: inline;
}

.social-networks i {
    font-size: 150%;
    padding: 3%;
    margin: 1%;
}