body {
        scroll-behavior: smooth;

}

* {
    margin: 0 auto;
    border: 0;
    padding: 0;

}

h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #17202A;
}


/* navbar */
.navbar {
font-weight: 600;
text-transform: uppercase;
font-size: 16px;
letter-spacing: 1px;
background: rgba(0, 0, 0, 0.25)!important; 

}

 .navbar-brand {
font-size: 30px;
font-weight: bold;
letter-spacing: 1px;
color: #17202a!important;
margin-left: 30px;

}

.navbar .navbar-collapse {
    text-align: center;
    margin-right: 15px;
}



.navbar-nav li {
    padding-right: .7rem;
}


#main {
    width:100%;
   
}


/* slider */

.carousel-item{
    height: 100%; /*vertical height */
    background: no-repeat center center scroll;
    background-size: cover; 
    
    
}

/* About */
#about {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color:  #e6f2ff;

}

#selfie {
    border: solid #e6f2ff;
    border-radius: 50px;
    margin-top: 30px;
}

p{
   padding-top: 5%;
   letter-spacing: 2px;
     
}

/* PORTFOLIO */
#portfolio {
padding-top: 60px;
}

.tz-gallery {
    padding: 10px;
}

.tz-gallery img {
    border-radius: 6px;   
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
}

/* Adds a shadow to the image when mouse hovers over*/
.tz-gallery .lightbox img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* Contact */

#contact {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color:  #e6f2ff;
   
}

.ctext {
    margin-top: 50px; 
    left: 20px;
}

.ctext, p, i {
    padding: 0;
}

.contact-form {
    max-width: 600px;
    margin-top: 50px; 
    font-weight: bold;
    padding: 30px;
    background-color: #cbd1cc;
    /*background-color: rgba(60, 60, 60, 0.6); */

}

.text-input {
  color: black;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  
}
.text-input:hover {
  border-color: #f16c6b;
}

.btn{
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #f16c6b;
  color: #fafafa;
  display: block;
}

.btn:hover {
  background-color: #fafafa;
  color: #f16c6b;
}
 


/* Footer */
footer {
    background: black;
    text-align: center;
    color: white;
    padding-bottom: 5px;

}

.social-networks {
    font-size: 35px;
}

.social-networks li {  /* this will line the links horizontally */
    display: inline;
}

.social-networks i {
    margin: 1%;
    color: #7e4b3c;
    
}

.social-networks i:hover {
    color: white;
}

.copyright {
    font-weight: bold;
    font-size: 10px;

}
/*
@media screen and (max-width: 800px) {
    .tz-gallery{
    column-count: 2;
  }
}



@media(min-width: 500px) {
    #main {
        width: 100%;
    }

    #about, #selfie {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }