html, body {
    height: 100%;
    width: 100%;
}

 .navbar-brand {
font-size: 25px;
font-weight: bold;
letter-spacing: 1px;

}

#navbarNav{
    font-weight: bold;
}


.carousel-item{
    height: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
    
    
}

/* PORTFOLIO */
.tz-gallery {
    padding: 10px;
}

.tz-gallery img {
    border-radius: 6px;
   
}


.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    
}

